<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<bean id="serviceInterceptor" class="com.leo.interceptor.spring.ServiceInterceptor"></bean>

<aop:config proxy-target-class="true">
    <aop:pointcut id="servicePointCut" expression="execution(* com.leo.service..*(..))"></aop:pointcut>
        <aop:aspect ref="serviceInterceptor">
        <aop:around pointcut-ref="servicePointCut"  method="intercept"/>
    </aop:aspect>
</aop:config>
</beans>